:root {
    --clr-green: #75e2a1;
    --clr-green-darker: #5db489;
    --clr-green-ligher: #84edae;

    --clr-blue: #5e85f1;
    --clr-blue-darker: #4164c3;
    --clr-blue-lighter: #7a9cf9;

    --clr-teal: #8ce2eb;
    --clr-teal-darker: #7bc6ce;
    --clr-teal-lighter: #9feef7;

    --clr-yellow: #f7e363;
    --clr-yellow-darker: #ddcb59;
    --clr-yellow-lighter: #ffef89;

    --clr-orange: #f5b255;
    --clr-orange-darker: #cb954a;
    --clr-orange-lighter: #f9c06f;

    --h-padding: 10vw;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: verdana;
}

nav {
    width: 100%;
    padding: 1rem var(--h-padding) 1rem var(--h-padding);
    background-color: #2e2f31;
    color: white;
}

nav>.logotype {
    font-size: 1.3rem;
    font-weight: bold;
}

.container {
    margin-top: 2.5rem;
    padding: 0 var(--h-padding) 2.5rem var(--h-padding);
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.5rem;
    row-gap: 2.5rem;
}

.area {
    flex: 1;
    position: relative;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.area-flex {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.laptop-information-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5rem;
    min-width: 100%;
}

.laptop-information-area>.space {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30%;
}

.area-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.area-text {
    font-size: 1rem;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;

    column-gap: 0.7rem;
    row-gap: 0.7rem;
}

.btn {
    flex: 1;
    min-width: 70px;
    font-size: 0.8rem;
    padding: 0.5em 0;
    border-radius: 0.3rem;
    border: 1.5px solid black;
    text-align: center;
    cursor: pointer;
}

.btn-loan {
    background-color: var(--clr-green);
    border-color: var(--clr-green-darker);
}

.btn-loan:hover {
    background-color: var(--clr-green-ligher);
}

.btn-work {
    background-color: var(--clr-blue);
    border-color: var(--clr-blue-darker);
    color: white;
}

.btn-work:hover {
    background-color: var(--clr-blue-lighter);
}

.btn-bank {
    background-color: var(--clr-yellow);
    border-color: var(--clr-yellow-darker);
}

.btn-bank:hover {
    background-color: var(--clr-yellow-lighter);
}

.btn-repay-loan {
    background-color: var(--clr-orange);
    border-color: var(--clr-orange-darker);
}

.btn-repay-loan:hover {
    background-color: var(--clr-orange-lighter);
}

.btn-buy {
    background-color: var(--clr-teal);
    border-color: var(--clr-teal-darker);
    width: 200px;
}

.btn-buy:hover {
    background-color: var(--clr-teal-lighter);
}

.none {
    display: none;
}

.bold {
    font-weight: bold;
}

.laptop-feature-text {
    font-size: 0.8rem;
}

.laptop-img {
    width: 150px;
    height: 150px;
}